<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <h2>房間代碼:{{this.room.roomNumber}}</h2>
            </div>
            <div class="row">
                <h2>目前輪到 : {{this.room.operator}} 玩家操作</h2>
            </div>
        </div>
        <div class="col-4">
            <div class="row"><h2>玩家 : {{this.room.playerOne}}</h2></div>
            <div class="row"><h2>玩家 : {{this.room.playerTwo}}</h2></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="input-group" *ngFor="let row of this.room.chessboard; let y = index">
                <button class="btn border border-dark" [ngClass]="checkPush(chess.push)" (click)="playerAction(y,x)" *ngFor="let chess of row; let x = index">
                    <img src="assets/img/{{chess.chessNo}}.png">
                </button>
            </div>
        </div>
        <div class="col-3">
            <div class="row overflow-auto chatRow border" #scrollMe>
                <div class="d-flex flex-column justify-content-end">
                  <div class="row border" *ngFor="let item of greeting">
                    <a>{{item}}</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <input type="text" #inText (keyup.enter)="sendMessage(inText);">
              </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <h3>被吃掉的:</h3>
                <div>
                    <img width="5%" *ngFor="let chess of this.room.dieChess" src="assets/img/{{chess}}.png">
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-dark" type="button" (click)="restart();" [hidden]="watchGame">重新開始</button>
            <button class="btn btn-dark" type="button" (click)="exitRoom();">退出房間</button>
        </div>
    </div>
</div>